/* ============================= */
/* ===== Google Fonts ===== */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;600&display=swap');

/* ============================= */
/* ===== Global Styles ===== */

body {
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: 'Source Serif 4', Georgia, serif;
    font-size: 18px;
    line-height: 1.8;
    color: #222;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Serif 4', Georgia, serif;
}

h3 {
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}

a {
    color: #1a4f8b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul.square li {
    margin-bottom: 8px;
}

/* ============================= */
/* ===== Layout Centering ===== */

.main-container {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    gap: 70px;
    align-items: flex-start;
}

/* Sidebar 左侧 */
.sidebar {
    width: 30%;
    text-align: right;
    float: none !important;
}

/* 右侧内容 */
.content {
    width: 70%;
    float: none !important;
}

.content .container {
    margin-bottom: 40px;
}

/* 响应式（手机适配） */
@media (max-width: 900px) {
    .main-container {
        flex-direction: column;
        gap: 40px;
    }

    .sidebar {
        width: 100%;
        text-align: center;
    }

    .content {
        width: 100%;
    }
}

/* ============================= */
/* ===== Miscellaneous Styles ===== */

/* Headers in masthead/footer */
.header, .footer, .header h3 {
    font-family: 'Montserrat', Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
}

/* Navigation links */
h3.text-muted a {
    text-decoration: none;
    color: #999999;
}
h3.text-muted a:hover {
    color: #0088cc;
}

/* Avatar images */
img.avatar {
    margin-bottom: 30px;
}

/* Horizontal rule inside container */
.container > hr {
    margin: 30px 0;
}
.container > hr.footer {
    margin-bottom: 15px;
}

/* E-Mail obfuscate */
.obfuscate {
    unicode-bidi: bidi-override;
    direction: rtl;
}

/* Jumbotron */
.jumbotron {
    margin: 80px 0;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Marketing section */
.marketing p {
    line-height: 25px;
}
.marketing p.lead {
    line-height: 30px;
}

/* Notes */
.notelist {
    width: 600px;
    margin: 0 auto;
}
ul.listnotes {
    margin: 0 auto;
}
ul.listnotes li {
    line-height: 30px;
}

/* Note sections */
.note, .contact, .about, .error, .swatches {
    width: 85%;
    margin: 0 auto;
    line-height: 26px;
}
.note h2.date, .swatch-log h2.date {
    font-size: 24.5px;
    font-weight: 300;
    font-style: italic;
}

/* Swatches */
.swatch-log h2.date {
    margin-bottom: 30px;
}
.swatch-log {
    margin: 30px auto 70px;
    height: 140px;
}
ul.swatch {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    height: 50px;
}
ul.swatch li {
    text-transform: uppercase;
    display: inline;
    float: left;
    height: 80px;
    width: 75px;
    text-indent: -9999px;
    font-size: 14px;
    text-align: center;
    font-family: 'Montserrat', Helvetica, sans-serif;
    background-image: url(/img/glass.png);
    background-repeat: repeat-x;
    background-position: 0 50%;
}
ul.swatch li:hover {
    height: 75px;
    width: 75px;
    vertical-align: middle;
    text-indent: 0;
}
.swatch-log p {
    font-size: 14px;
    clear: left;
    margin-top: 10px;
    font-family: 'Montserrat', Helvetica, sans-serif;
    text-transform: uppercase;
}
.clear {
    clear: both;
    height: 20px;
}

/* CV section */
.cv {
    line-height: 23px;
    width: 90%;
    margin: 0 auto;
}
.cv li {
    line-height: 23px;
}
.cv h2 {
    font-size: 26.5px;
}
.cv h1 {
    font-size: 32.5px;
}

/* About section lists */
.about ul.list-unstyled li {
    line-height: 30px;
    text-indent: -30px;
    margin-left: 30px;
}

/* Guides */
.guide {
    width: 90%;
    margin: 0 auto 60px auto;
    line-height: 26px;
}
.guide .title {
    padding: 100px 30px 0px;
    width: 100%;
    height: 60%;
    margin-bottom: 40px;
    background: #d5d5d5;
    color: #428bca;
}
.guide .title h1 {
    font-size: 46px;
    color: #181818;
}
.guide p {
    margin: 0 0 1em;
}
.guide img {
    border: solid 1px #d5d5d5;
    border-radius: 4px;
    margin: 40px auto;
    display: block;
}
.guide .notes {
    font-size: 12px;
}
.guide .notes h2 {
    font-size: 14px;
}

/* Code */
pre.prettyprint {
    padding: 10px !important;
    margin: 40px;
    font-size: 12px;
}

/* Steps circle */
.step {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background: #4679BD;
    color: #FFF;
    float: left;
    text-align: center;
    font-size: 24px;
    padding-top: 5.5px;
    margin: 5px 15px 0px 0px;
    font-family: 'Montserrat', Helvetica, sans-serif;
}
